.whatis-body {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: row;
  width:100%;
}

.img-side {
  display: flex;
  position: relative;
  flex: 1;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.img-side > img {
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: contain;
  z-index: 11;
}

.opacity-bg {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  background-color: #801c58;
  opacity: 0.5;
}

.text-side {
  background-color: #801c58;
  color: white;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  padding: 6vw; /*75px*/
}

.whatis-title {
  font-size: 3.8vw;  /*48 px*/
  font-weight: bold;
}

.whatis-text {
  font-size: 2.5vw; /*32 px*/
  font-weight: bold;
}

.text-wrapper > div {
  width: 100%;
  height: 0.24vh; /*2px*/
  background-color: white;
}
