.topbar-body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #240221;
  color: white;
  align-content: center;
  flex: 1;
  justify-content: center;
  z-index: 100;
  font-size:1.1vw;
  
  
}

.topbar-body ul {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.61vw; /*10px*/  
}

.topbar-body li {
  display: block;
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
  padding: 1.5% 0; /*25px 0*/
  cursor: pointer;
}

.topbar-body li:hover {
  font-weight: bolder;
}

.logo-topbar {
  width: 6.12vw;  /*100 vw*/
  object-fit: contain;
}
