.robotsWrapper {
  width: 100%;
  height: 100vh;
}

.topFrame {
  background-color: var(--purple1);
  width: 100%;
  height: 15vh;
  font-size: 40px;
  font-weight: bold;
  float: center;
}
.designFrame {
  width: 100px;
  height: 50px;
}

.robotsWrapper {
  width: 100%;
  height: 100vh;
}
