.robotsWrapper {
  width: 100%;
  height: 100vh;
}

.topFrame {
  background-color: #580950;
  width: 100%;
  height: 15vh;

  /*Text design*/
  font-size: 55px;
  font-weight: bold;
  color:white;

  /*Centering text*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.designFrame {
  width: 100%;
  height: 5vh;
  background-size:contain;
}

.robotsWrapper {
  width: 100%;
  height: 100vh;
  
}

