.title{
    
   padding-top:150px;
    font-size:72px;
    text-decoration:underline;
    text-underline-offset:1em;
    display:flex;
    justify-content:center;
    text-align:center;
}

.description{
    
    font-size:48px;
    padding-top:100px;
    padding-right:200px;
    padding-left:200px;
    display:flex;
    justify-content:center;
    text-align:center;
}

.superiorImg{
    width:40%;
    height:40vh;
    object-fit: cover;
    object-position: 20%;
    margin: -180px 0px 0px -100px; 
    transform: scale(1.5);
    
    /*<div className="superiorImg" style={{ backgroundImage: `url("src/assets/2.png")`}}></div>*/
    opacity:0.2;
    background-size:contain;
    background-repeat: no-repeat;
}
